<%-include("../include/head.ejs")%>
<link rel="stylesheet" href="http://localhost:<%=process.env.PORT%>/product.css">
<link rel="stylesheet" href="http://localhost:<%=process.env.PORT%>/main.css">
</head>
<body>
<%-include("../include/navigation.ejs")%>

<h1>chcekout</h1>

<%-include("../include/end.ejs")%>